// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$color-menu: #ffffff;
$color-fondo: #ffffff;
$color-footer: #d6d6d6;
$color-apartado-menu:#0c720c;
$color-apartado_hover:#b3e977;
