// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#app{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows:3fr 3fr 3fr 1fr;
}
header{
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: $color-menu;
}
@import 'header';


main{
    grid-column: 1/3;
    grid-row: 1/4;
}
footer{
    grid-row: 4/5;
    grid-column: 1/4;
    display: grid;
    background-color: $color-footer;
    align-content: center;
    font-size: 1.2em;
}
